# .github/workflows/oracle_server_cd_develop.yml

name: Oracle Develop Server CD

on:
  push:
    branches:
      - "develop/be"
    paths:
      - "backend/**"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.variable.outputs.image_tag }}
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle # Gradle 캐싱 활성화

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: make application.properties
        run: |
          cd ./backend/src/main/resources
          echo "${{ secrets.APPLICATION_PROD_DEV }}" > ./application.properties

      - name: make firebase.json
        run: |
          cd ./backend/src/main/resources
          echo "${{ secrets.FIREBASE_PR_TEST }}" | base64 -d > ./firebase.json

      - name: Grant execute permission for gradlew
        run: chmod +x ./backend/gradlew

      - name: Build with Gradle
        run: |
          cd backend
          ./gradlew clean build -x test

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.SERVER_DOCKER_USERNAME }}
          password: ${{ secrets.SERVER_DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Image Tag
        id: variable
        run: |
          echo "image_tag=$(echo ${GITHUB_SHA} | cut -c1-7)" >> "$GITHUB_OUTPUT"

      - name: Build and Push ARM64 Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/arm64,linux/amd64
          push: true
          tags: |
            ${{ secrets.DOCKER_IMAGE_DEV }}:latest
            ${{ secrets.DOCKER_IMAGE_DEV }}:${{ steps.variable.outputs.image_tag }}

  update-deployment-file:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout deploy-manifests repository
        uses: actions/checkout@v4
        with:
          repository: Moadong/gitops-moadong
          token: ${{ secrets.PAT }}
          ref: main
          path: gitops-moadong

      - name: Update image tag in kustomize
        run: |
          cd gitops-moadong/backend/dev
          kustomize edit set image ${{ secrets.DOCKER_IMAGE_DEV }}=${{ secrets.DOCKER_IMAGE_DEV }}:${{ needs.build.outputs.image_tag }}

      - name: Commit and Push changes
        run: |
          cd gitops-moadong
          git config --global user.email "${{ secrets.EMAIL }}"
          git config --global user.name "${{ secrets.USERNAME }}"
          git add .
          git diff --cached --quiet && echo "No changes" && exit 0
          git commit -m "chore(dev): backend image tag update ${{ needs.build.outputs.image_tag }}"
          git remote set-url origin https://${{ secrets.PAT }}@github.com/Moadong/gitops-moadong.git
          git push --set-upstream origin HEAD
